body{
    background-color: #F5F5F5;
}
h1{
    background-color: #00923F;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
}
h2{
    text-align: center;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
img{
    display: block;

}