.imag{
    width: 700px;
    height:380px;
}
body{
    background-color: rgb(192, 223, 171);
    text-align: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
}
nav{
    /* background-color: #7fe7e2; */
    margin: auto;
    width:700px;
    border-radius:10px 10px 0px 0px;
    /* border: 1px navy solid; */
    display:flex;
    }
h1{
    background-color: #558a51;
    text-align: center;
}
.boton{
background-color: #50944dd0;
display: block;
margin: 5px;
padding:8px;
color: rgb(245, 239, 239);
width: 150px;
border: 2px rgb(235, 238, 234) solid;
text-decoration: solid;
}
section{
    background-color: rgba(226, 255, 212, 0.726);
    text-align: center;
    padding: 1%;
    
}
.divc{
    column-count: 3;
    text-align: justify;
    height: max-content;
    
}
.iconci{
    width: 100px;
    align-content: flex-end;
    vertical-align: text-top;
}
.container{
    width:900px;
    background-color: #7fe7e2;
    
}
h1{
    /* background-color: #ffcd18; */
    text-shadow: 1px 1px 2px black;
    /*offset-x,offset y, blur-radius, color*/
}
.peque{
    width: 250px;
    height: 200px;
}
.bot{
    background-color: #e2b3a6;
    margin: 5px;
    padding:8px;
    color: black;
    width: 100px;
    height: 30px;
    border: 2px black solid;
    border-radius: 7px;
    text-decoration: none;
    align-self: center;
    }
table{
    
    border:3px solid black;
    
    
}
th{
    border:3px solid black;
    /* background-color: #ffcd18; */
}
td{
    border:3px solid black;
    height: 100px;
}
#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
#principal {
    width: 75%;
  }
#sidebar {
    width: 25%;
  }
.imgRedonda {
    margin-top: 30px;
    width:200px;
    height:200px;
    border-radius:150px;
}